/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/

/*
Define the color pallet of the page in one place,
so that it can be referenced below by name and purpose
*/
:root {
  --background: #A7A2A9;
  --text-color: #08090A;
  --second-background: #F4F7F5;
  --border-color: #575A5E;
  --link-color-main: #0000ff;
  --link-color-visited: #6000a0;
}

body {
  padding: 30px;
  background-color: var(--background);
}

#style-selector {
  top: 0;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
}

ul {
  margin: 0;
  background-color: var(--second-background);
}

li {
  padding: 10px;
  margin: 0;
}

li a {
  color: var(--link-color-main);
}

li a:visited {
  color: var(--link-color-visited);
}

#style-selector ul{
  list-style-type: none;
}

#style-selector li {
  display: inline-block;
  text-align: center;
}

#faculty-list
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.cloud{
  list-style-type: "\2601";
}

.local{
  list-style-type: "\1F4BB";
}

.version-control{
  font-family: fantasy;
}

.testing{
  font-family: cursive;
}

.ide{
  font-family: monospace;
}

div, ul{
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 8px;
  background-image: radial-gradient(var(--second-background), var(--background), var(--second-background));
}
